#root{
 text-align: center;
 font-family: 'Fjalla One', 'Radly';
 color: black;
 text-shadow: 1px 4px 50px 1px #2f6627; 
}

.Header{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('headerBackground.png');
  height: 20vh;
  background-size: cover;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.nav{
  background-color: rgba(255, 255, 255, .0);
  height: 10vh;
  width: 100vw;
}
.big-button{
  width: 25px;
}

.navButton, .big-button{
  box-shadow: 1px 4px 100px 1px #e49011b5;
  background: linear-gradient(to bottom, #d46e0f 5%, #f09c14 100%);
  background-color: #44c767;
  border-radius: 32px;
  border: 4px solid #ef8a17;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  padding: 13px 32px;
  text-decoration: none;
  text-shadow: 3px 4px 4px #ff9705;
}

.navButton:hover {
  background: linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
  background-color: #5cbf2a;
}

.navButton:active {
  position: relative;
  top: 1px;
}

.Main{
  /* background-color: yellow; */
}

.featured-section{
  /* background-color: red; */

}
.featured-meal{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.featured-section-header{
  
  font-size: 2em;
}

.food-image{
  width: 60%;
  height: 60%;
  object-fit: cover;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  
}

.meal{
  overflow: auto;
  height: 60vh;
  margin: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  
}

.mealCard{
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.Footer{
  background-image: url('headerBackground.png');
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  height: 20vh;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
/* Webkit Tools */
::-webkit-scrollbar {
  display: none;
}
